.header {
    height: 8%;
    background-color: #62a5e7; 
}

.header_image {
    max-height: 60px;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 10px;
}

.header_text{
    margin: 10px;
    color: white;
}

